p { /* no need to repeat the same statements on each */
    font-family: Roboto;
    margin-top: 0px; 
    margin-bottom: 0px;
}

.video-title {
    /* font-family: Arial; */
    font-weight: bold;
    font-size: 18px;
    width: 300px; /*normally bad, but good here since its what we want to get the text to wrap back */
    line-height: 24px;
    /* margin-top: 0px; */
    margin-bottom: 5px;
}
.video-stats {
    /* font-family: Arial; */
    font-size: 14px;
    color: rgb(96, 96, 96);
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
}
.video-author {
    /* font-family: Arial; */
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 20px;
    /* margin-bottom: 0px; */
}
.video-description {
    /* font-family: Arial; */
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 300px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    
}
.span-example {
    color: red;
    margin-left: 12px;
}
.span-example:hover {
    text-decoration: underline;
}
.shop-link {
    cursor: pointer;
}
.shop-link:hover {
    text-decoration: underline;
}