p {
    text-align: center;
    font-family: Montserrat;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}
.product {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 14px;
}
.sub-underline {
    text-decoration: underline;
}