main {
    min-height: 120vh;
}

.thumbnail {
    width: 100%;
}

.video-info {
    white-space: normal;
    word-break: break-all;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-title-link {
    text-decoration: none;
    color: black;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr; /* pfp: 50px title: 250px */
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-preview {
    padding: 4px;
    vertical-align: top;
}

.thumbnail-row {
    /* margin-bottom: 8px; */
    position: relative;
}

.video-author, .video-stats {
    font-size: 12px;
    color: rgb(96,96,96);
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.channel-picture {
    position: relative;
}

.channel-picture:hover .channel-tooltip {
    opacity: 1;
}

.channel-tooltip {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 200px;

    position: absolute;
    z-index: 300;
    bottom: -55px;
    background-color: white;
    padding: 12px 12px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

    border-radius: 5px;

    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.channel-tooltip-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 8px;

}

.channel-tooltip-name {
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.channel-tooltip-stats {
    font-family: Roboto, Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);

}